<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Linq2SqlTests" connectionString="Server=.\SQLEXPRESS08; Integrated Security=true;AttachDbFileName=|DataDirectory|\Linq2Sql_Tests.mdf;User Instance=True"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
